<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:insert="common.html :: head('Account List')"></th:block>
</head>
	
    <body class="sb-nav-fixed">
    
    	<th:block th:insert="common.html :: top_menu"></th:block> 
        
        <div id="layoutSidenav">
            
            <th:block th:insert="common.html :: left_menu"></th:block>
            
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Account List</h1>
                    </div>
                </main>
                
                 <th:block th:insert="common.html :: footer"></th:block>
            </div>
        </div>
        <th:block th:insert="common.html :: script"></th:block>
        
    </body>
</html>
