<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<th:block th:insert="/common.html :: head('Page1')"></th:block>
	
	
    <body class="sb-nav-fixed">
    
    	<th:block th:insert="/common.html :: top_menu"></th:block>
        
        <div id="layoutSidenav">
            
            <th:block th:insert="/common.html :: left_menu"></th:block>
            
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Page1</h1>
                        <p th:text="#{welcomeMsg}" ></p>
                    </div>
                </main>
                
                 <th:block th:insert="/common.html :: footer"></th:block>
            </div>
        </div>
        <th:block th:insert="/common.html :: script"></th:block>
        
    </body>
</html>
